// разрешения экранов
$mediaTablet: 1280px; 

// размеs шрифтов 
$fontSizeTitle: 30px;
$fontSizeLabel: 12px;
$fontSizePlace: 14px;
$fontSizeName: 18px; 
$fontSizeButt: 14px;

// Фон 
$bgInput: #f8f8f8;
$bgLayout: #e5e5e5;
$bgContainer: #fff;
$bgDropD: #f8f8f8;
$bgColorSecure: #f8f8f8; 
$bgButt: #428a60;
$bgTitle: #f8f8f8;

// цвер рамок
$borderColor: #e4e4e4;

// Цвет текста
$colorNameTablet: #fff;
$coloredText: green;
$colorTextButt: #fff;










